# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj
!Watch.xcodeproj
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (not used, but just in case)
Pods/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Generated
*.generated.swift

# Editor
.idea/
.vscode/

# Temp
tmp/
*.log
